<%-include("./partials/header.ejs") %>

    <% const title="Hello world in express.js + ejs in bosh sahifa" %>
        <% let users=[{name : "ogabek" , id : 1}, {name : "binali" , id : 2}, {name : "shamsiddin" , id : 3}] %>

            <h2>
                <%=title %>
            </h2>
            <main>
                <section>
                    <ul style="list-style: none;">
                        <% users.map(user=> { %>
                            <li>
                                <h3>
                                    <%=user.name %>
                                </h3>
                            </li>
                            <% }) %>
                    </ul>
                </section>
            </main>