<header style="height: 100px; background-color: rgb(207, 204, 204); padding: 10px 20px; display: flex; align-items: center; justify-content: space-between;">
    <a href="/" style="color: black; text-decoration: none; letter-spacing: 1px; font-size: 40px; font-style: italic; font-weight: 200;">This <span>Site</span></a>
    <div style="width: 200px; display: flex; align-items: center; justify-content: space-between;">
        <span style="font-size: 20px;"><a  style="font-weight: 100; color: black; font-style: italic; letter-spacing: 1px; " href="/register">Register</a></span>
        <span style="font-size: 20px;"><a style="font-weight: 100; color: black; font-style: italic; letter-spacing: 1px;" href="/login">Login</a></span>
    </div>
</header>